@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-image: linear-gradient(to top left, #753682 0%, #bf2e34 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Nunito", sans-serif;
}

main {
  height: 85vh;
  width: 65%;
  border-radius: 10px;
  display: flex;
}

.section1 {
  background-color: rgba(255, 255, 255, 0.35);
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
   transition: background-color 1s ease;
}

.section2 {
  background-color: rgba(255, 255, 255, 0.35);
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
   transition: background-color 1s ease;
}

.new-game {
  opacity: 80%;
  border: none;
  border-radius: 50px;
  width: 200px;
  height: 50px;
  position: absolute;
  font-size: 22px;
  text-align: center;
  left: 50%;
  bottom: 80%;
  transform: translateX(-50%);
  background-color: white;
  cursor: pointer;
}
.new-game:active {
  transform: translate(-50%, 3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.player {
  color: black;
  font-size: 40px;
}

.player-active2 {
  font-weight: 700;
}

.sec-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.score {
  font-size: 80px;
  color: #c7365f;
}

.live-score {
  width: 230px;
  height: 130px;
  background-color: #c7365f;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-size: 30px;
  border-radius: 10px;
}

.livescore {
  font-size: 40px;
}

.roll-div {
  opacity: 90%;
  position: absolute;
  left: 50%;
  bottom: 18%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  transform: translateX(-50%);
  height: 20vh;
}

.roll-dice {
  border: none;
  border-radius: 50px;
  width: 180px;
  height: 50px;
  font-size: 22px;
  text-align: center;
  background-color: white;
  cursor: pointer;
}

.roll-dice:active {
  transform: translate(0%, 3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.hold {
  border: none;
  border-radius: 50px;
  width: 150px;
  height: 50px;
  font-size: 22px;
  text-align: center;
  background-color: white;
  cursor: pointer;
}

.hold:active {
  transform: translate(0%, 3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.dice {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 50%;
}

.hidden {
  display: none;
}

.sec-active1{
  background-color: rgba(255, 255, 255, 0.6);
  transition: background-color 1s ease;
}

.sec-active2 {
  background-color: rgba(255, 255, 255, 0.6);
  transition: background-color 1s ease;
}